<footer class="bg-dark text-white text-center py-3 mt-auto">
    <div class="container">
        <p>&copy;
            <%= new Date().getFullYear() %> Assignment Tracker. All Rights Reserved.</p>
    </div>
</footer>